---
const { class: className, ...rest } = Astro.props;
---
<span class={`transliteration text-transliteration-light dark:text-transliteration-dark ${className}`} x-data x-show="$store.language.current === 'en'">
  <slot />
</span>
